@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-silver: #f5f7fa;
  --color-grey-blue: #abbed1;
  --color-l-gray: #89939e;
  --color-gray: #717171;
  --color-d-gray: #4d4d4d;
  --color-l-black: #18191f;
  --color-primary: #4caf4f;
  --color-secondary: #263238;
  /* Colors End */

  /* Fonts */
  --font-family: "inter", sans-serif;

  /* Fonts size */
  --font-size-xl: 4rem;
  --font-size-large: 2.25rem;
  --font-size-medium: 1.75rem;
  --font-size-small: 1rem;
  --font-size-smaller: 0.875rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-intermediate: 600;
  --font-weight-bold: 700;

  /* Line height */
  --line-height-title: 76px;
  --line-height-heading: 44px;
  --line-height-category: 36px;
  --line-height-sub-title: 24px;
  --line-height-text: 20px;
}

/* ================================ */

body {
  font-family: var(--font-family);
  color: var(--color-secondary);
  background-color: var(--color-white);
}

button {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 4px;
  color: var(--color-white);
  padding: 14px 32px;
  font-size: var(--font-size-small);
}

/* ================================================ */

/* Header */

header {
  height: 84px;
  background-color: var(--color-silver);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin: 30px 145px 30px 105px;
}

/* ================================ */

.header-nav {
  margin: 30px 145px;
}

.header-nav ul {
  display: flex;
  gap: 50px;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
  color: var(--color-l-black);
  text-decoration: none;
  font-size: var(--font-size-small);
}

/* ================================ */

.header-login {
  display: flex;
  margin: 22px 121.51px 22px 145px;
  padding: 10px 20px;
  gap: 14px;
}

.header-login-login-button {
}

.header-login-button {
  background-color: var(--color-silver);
  color: var(--color-primary);
  font-size: var(--font-size-smaller);
}

.header-login-sign-up-button {
}

.header-sign-up-button {
  font-size: var(--font-size-smaller);
}

/* Header End */

/* ================================================ */

/* Main */

.home-content {
  margin-top: 0px;
}

.home-content-hero {
  background-color: var(--color-silver);
  display: flex;
  height: 599px;
  padding: 96px 144px;
  align-items: center;
}

.home-hero-container {
  text-align: left;
  margin: 161.5px 104px 161.5px 144px;
  gap: 32px;
}

.home-hero-text {
  width: 658px;
  height: 276px;
}

.home-hero-title {
  font-size: var(--font-size-xl);
  color: var(--color-d-gray);
  line-height: var(--line-height-title);
}

.home-hero-title-color {
  color: var(--color-primary);
}

.home-hero-catch-phrase {
  color: var(--color-gray);
  line-height: var(--line-height-sub-title);
}

.home-hero-button {
}

.hero-button-register {
}

.home-content-hero-illustration {
  margin: 96px 144px 96px 104px;
}

/* ================================ */

.home-content-community {
  height: 416px;
  color: var(--color-d-gray);
}

.home-community-container {
  text-align: center;
}

.home-community-title {
  font-size: var(--font-size-large);
  line-height: var(--line-height-category);
  width: 542px;
  height: 88px;
  margin: 40px auto 16px auto;
}

.home-community-text {
  height: 24px;
}

/* ========== */

.home-community-section {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0px 144px;
  margin: 16px auto 42px auto;
}

.home-section-membership {
  width: 299px;
  margin: 10px 127.5px 10px 144px;
}

.home-membership-container {
  width: 267px;
  height: 144px;
}

.home-membership-icone {
}

.home-membership-title {
  font-size: var(--font-size-medium);
  margin: 16px;
}

.home-membership-text {
  color: var(--color-gray);
  font-size: var(--font-size-smaller);
  width: 251px;
  text-align: center;
}

.home-membership-phrase {
  margin: 20px auto;
}

/* ========== */

.home-section-associations {
  width: 299px;
  margin: auto 127.5px;
}

.home-association-container {
  width: 267px;
}

.home-association-icone {
}

.home-association-title {
  font-size: var(--font-size-medium);
  line-height: 36px;
  margin: 16px auto;
}

.home-associations-text {
  color: var(--color-gray);
  font-size: var(--font-size-smaller);
}

.home-association-phrase {
  width: 240px;
}

/* ========== */

.home-section-clubs {
  width: 299px;
  margin: 10px 144px 10px 127.5px;
}

.home-clubs-container {
  width: 267px;
}

.home-clubs-icone {
}

.home-clubs-title {
  font-size: var(--font-size-medium);
  width: 231px;
  margin: 16px auto;
}

.home-clubs-text {
  color: var(--color-gray);
  font-size: var(--font-size-smaller);
}

.home-clubs-phrase {
  width: 251px;
}

/* ================================ */

.home-body {
}

.home-body-unlock {
  display: flex;
}

.home-unlock-container {
  display: flex;
  margin: 0px auto;
}

.home-unlock-image {
}

.home-unlock-btn-text {
  width: 661px;
}

.home-unlock-text {
  width: 601px;
}

.home-unlock-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-intermediate);
  line-height: var(--line-height-heading);
  color: var(--color-d-gray);
  padding: 0px 20px 16px 0px;
  margin-bottom: 0px;
}

.home-unlock-catch-phrase {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-text);
  color: var(--color-gray);
  padding: 0px 20px 0px 0px;
}

.home-unlock-button {
  margin-top: 32px;
}

.unlock-button-learn-more {
}

/* ========== */

.home-body-calender {
  display: flex;
}

.home-calender-btn-text {
}

.home-calender-text {
}

.home-calender-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-intermediate);
  line-height: var(--line-height-heading);
  color: var(--color-d-gray);
}

.home-calender-catch-phrase {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-text);
  color: var(--color-gray);
}

.home-calender-button {
}

.calender-button-learn-more {
}

.home-calender-image {
}

/* Main End */

/* ================================================ */

/* Footer */

.footer-section {
  height: 554px;
}

.footer-demo {
  background-color: var(--color-silver);
  height: 342px;
  margin: 0px 74px 32px 74px;
  padding-top: 32px;
  text-align: center;
}

.footer-demo-title {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-title);
  width: 50%;
  margin: 0px auto;
}

.footer-demo-button {
  margin-top: 32px;
}

/* ================================ */

.footer-company {
  background-color: var(--color-secondary);
  height: 148px;
  display: flex;
}

.footer-company-info {
  color: var(--color-silver);
  font-size: var(--font-size-smaller);
  margin: auto;
}

.footer-copyright {
  display: flex;
}
/* Footer End */
