@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Colors */
  /* Neutral */
  --color-silver: #f5f7fa;
  --color-white: #ffffff;
  --color-grey-blue: #abbed1;
  --color-l-gray: #89939e;
  --color-gray: #717171;
  --color-d-gray: #4d4d4d;
  --color-primary: #4caf4f;
  --color-secondary: #263238;
  /* Colors End */

  /* Fonts */
  --font-family: "inter", sans-serif;

  /* Fonts size */
  --font-size-xl: 4rem;
  --font-size-large: 2.25rem;
  --font-size-medium: 1.75rem;
  --font-size-small: 1rem;
  --font-size-smaller: 0.875rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  font-family: var(--font-family);
  color: var(--color-secondary);
  background-color: var(--color-white);
}

/* Footer */

.footer-company {
  background-color: var(--color-secondary);
  height: 148px;
  display: flex;
}

.footer-company-info {
  color: var(--color-silver);
  font-size: var(--font-size-smaller);
  margin: auto;
}

.footer-copyright {
  display: flex;
}
/* Footer End */
