/* ================================ */

.home-body {
  height: 914.4px;
}

.home-body-unlock {
  height: 443px;
}

.home-unlock-container {
  display: flex;
}

.home-unlock-image {
}

.home-unlock-btn-text {
}

.home-unlock-text {
}

.home-unlock-title {
}

.home-unlock-catch-phrase {
}

.home-unlock-button {
}

.unlock-button-learn-more {
}

/* ========== */

.home-body-calender {
  display: flex;
}

.home-calender-btn-text {
}

.home-calender-text {
}

.home-calender-title {
}

.home-calender-catch-phrase {
}

.home-calender-button {
}

.calender-button-learn-more {
}

.home-calender-image {
}
